In [14]:
test1 = [[data,0] for data in range(5)]
test2 = [[data, data**2] for data in range(1,6,2) if(data%2==0)]
print(test1)
print(test2)

[[0, 0], [1, 0], [2, 0], [3, 0], [4, 0]]
[]

In [5]:
test2 = [[data, data*data] for data in range(10) if(data%2 !=0)]
test2

[[1, 1], [3, 9], [5, 25], [7, 49], [9, 81]]

In [18]:
B =[]
B.append(2)
B.append(4)

if 5 in B:
    print(B)
elif 4 in B:
    print(B[:1])
else:
    print("end")

[1, 2, 3]

In [22]:
delemeter ='-'
arr = [" a "," b "," c "]

new_arr = delemeter.join(arr)

print(new_arr)
print(new_arr.strip())

 a - b - c
a - b - c
 a - b - c

In [25]:
asdf = [[1,2,3],[4,5,6],[7,8,9]]
print ( 'len:', len (asdf))

#size(asdf)일 경우 9 출력됨

len: 3

In [28]:
def print_name(name,count=2):
    for i in range(count):
        print("name = ",name,i)
        
print_name("dave")

name =  dave 0
name =  dave 1

In [29]:
f = lambda x : x*x;
f(2)

4

In [38]:
a = 'hello'
b = {"kim":90, "an":80}
print(list(a))
print(list(b.items()))
print(list(b.keys()))
print(list(b.values()))

['h', 'e', 'l', 'l', 'o']
[('kim', 90), ('an', 80)]
['kim', 'an']
[90, 80]

In [47]:
raw_data = [[x,(x+1)*5] for x in range(1,6)]
raw_data[3][1] = 30
raw_data[4][1] = 55
x_data = [x[0] for x in raw_data]
y_data = [y[1] for y in raw_data]
print(raw_data)
print(x_data)
print(y_data)

[[1, 10], [2, 15], [3, 20], [4, 30], [5, 55]]
[1, 2, 3, 4, 5]
[10, 15, 20, 30, 55]

In [49]:
def print_hello():
    print("hello")
def test_lambda(s,t):
    print("input==",s,"input2 ==",t)

fx = lambda x,y : print_hello()
fy = lambda x,y : test_lambda(x,y)

fx(1,2)
fy(1,2)

hello
input== 1 input2 == 2

In [66]:
def print_name(name):
    print("def", name)

class sametest:
    def __init__(self):
        pass
    def print_name(self,name):
        print("sametest",name);
    
    def call_test(self,name):
        print("")
        print_name(name);
        self.print_name(name);

obj = sametest();

print_name("오잉");

obj.print_name("띠용");

obj.call_test("띠요오옹")

def 오잉
sametest 띠용

def 띠요오옹
sametest 띠요오옹

In [75]:
def calc(list_data):
    sum = 0
    try:
        sum = list_data[0] + list_data[1] + list_data[2]
        
        if sum <0 :
                raise Exception("sum is minus")
            
    except IndexError as err:
            print(str(err))
    except Exception as err:
            print(str(err))
    finally:
            print(sum)

print(calc([1,2,-100]))
print(calc([1,2]))

sum is minus
-97
None
list index out of range
0
None

In [82]:
f=open("./test.py","w+")
f.write("tata")
print(f)
f.close()

<_io.TextIOWrapper name='./test.py' mode='w+' encoding='UTF-8'>

In [83]:
with open("./test.py",'a') as f:
    f.write("hello python")